<!DOCTYPE html>
<html data-ng-app="trendsTrackerApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trends Tracker </title>

    @Styles.Render("~/Content/bootstrap")
    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="navbar navbar-default navbar-static-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Trends Tracker</a>
            </div>
        </div>
    </header>

    <div class="container body-content">
        <div class="row">
            <div class="col-md-3" id="leftCol">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <a href="#/keywords">Keywords</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9" style="position: relative;">
                <div data-ng-controller="SpinnerCtrl" class="loader" data-ng-show="spinner.loading"></div>
                <div class="mainView" data-ng-view="">
                </div>
            </div>
        </div>

        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Łukasz Wiatrak 2014</p>
                </div>
            </div>
        </footer>
    </div>

    <!-- 3rd party libraries -->
    <script src="/Scripts/jquery-1.9.1.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-route.js"></script>
    <script src="/Scripts/angular-resource.js"></script>
    <script src="/Scripts/ui-bootstrap-0.10.0.js"></script> 
    <script src="/Scripts/ui-bootstrap-tpls-0.10.0.js"></script>
    
       
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Custom scripts -->
    <script src="/app/app.js"></script>
    <script src="/app/services/keywords.js"></script>
    <script src="/app/services/spinner.js"></script>
    <script src="/app/controllers/keywordsCtrl.js"></script>
    <script src="/app/controllers/keywordCtrl.js"></script>
    <script src="/app/controllers/keywordAddUpdateCtrl.js"></script>
    <script src="/app/controllers/spinnerCtrl.js"></script>
</body>
</html>